<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!--扫描注解-->
    <context:component-scan base-package="com.yya.service"/>

    <!--dubbo可以和spring无缝整合-->
    <!--目的：找到注册中心，告诉他我是谁，端口是多少-->

    <!--1、配置别名，目的是在后台好区分到底是谁,name可以随便写,最后语义化-->
    <dubbo:application name="test1"/>

    <!--2、zookeeper注册中心;address注册中心的地址;protocol注册中心的协议-->
    <dubbo:registry address="localhost:2181" protocol="zookeeper"/>

    <!--3、告诉注册中心我是谁 interface代表发布的类型 ref代表我要发布哪个服务 timeout超时时间-->
    <dubbo:service interface="com.yya.service.TestService" ref="testServiceImpl" timeout="5000"/>
    <!-- 和本地bean一样实现服务 -->
    <bean id="testServiceImpl" class="com.yya.TestServiceImpl" />
    <!--4、配置服务的端口，因为消费之必须通过IP端口才能访问我的服务，我们在注册中心注册时注册中心就已经知道我们的IP了，所以现在只需要告诉他端口
    端口可以随便写，但不可以被占用。一个dubbo被发布时必须独占一个端口-->
    <dubbo:protocol name="dubbo" port="12334"/>
</beans>